@use './variables' as *;

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  gap: 20px;
  align-items: start;

  .node-card {
    :deep(.n-card-header) {
      border-bottom: 1px solid $border-color;
    }

    :deep(.n-card__content) {
      height: 100%;
      max-height: calc(82vh);
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }
  }

  .config-card {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 5px;
      border-radius: 5px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  .node-item {
    border: 1px solid $border-color;
    transition: $transition-all;
    cursor: pointer;
    height: 100%;
  }

  .selected-node {
    box-shadow: 0 0 8px rgba($primary-color, 0.2);
    background-color: rgba($primary-color, 0.05);
    border-color: $primary-color !important;

    &:hover {
      background-color: rgba($primary-color, 0.08);
    }
  }

  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .label {
      width: 80px;
      color: $text-color-2;
    }
  }

  .steps-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0 5px;
    margin-top: 5px;

    .mobile-steps {
      flex: 1;
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .node-card, .config-card {
      :deep(.n-card__content) {
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
      }
    }
  }
}