.n-card {
  border-radius: 15px !important;
}

.n-message {
  border-radius: 12px !important;
}

.n-tag {
  border-radius: 3px !important;
}

.n-alert {
  border-radius: 6px !important;
}

.n-dialog {
  border-radius: 13px !important;
}
